Django~=5.1.1
djangorestframework-simplejwt~=5.3.1
djangorestframework~=3.15.2
django-cors-headers>=4.6.0
django-storages~=1.14.4
boto3~=1.35.54
botocore~=1.35.54
pillow~=11.0.0
drf-spectacular>=0.27.2
jmespath>=1.0.1
pip>=24.3.1
attrs>=24.2.0
wheel>=0.45.0
PyYAML>=6.0.2
s3transfer>=0.10.3
asgiref>=3.8.1
sqlparse>=0.5.1
mysqlclient>=2.2.5
requests>=2.32.3
typing_extensions>=4.12.2
urllib3>=2.2.3
python-dateutil>=2.9.0.post0
certifi>=2024.8.30
six>=1.16.0
referencing>=0.35.1
jsonschema>=4.23.0
idna>=3.10
jsonschema-specifications>=2024.10.1
uritemplate>=4.1.1
inflection>=0.5.1
PyJWT>=2.9.0
python-dotenv>=1.0.1