@tailwind base;
@tailwind components;
@tailwind utilities;

/* Now using Tailwind CSS! */

/*Start Navbar*/
.nav {
  background-color: rgb(209, 220, 240);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 10px 10px;

}

.nav-color {
  background-color: rgb(209, 220, 240);
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

nav li.active {
  background-color: #555;
}

nav li.hover {
  background-color: #666;
}

.nav-button {
  background-color: rgb(165, 195,221);
  color: white;
  padding: 7px 14px;
  border-radius: 53px;
  border:none;
  cursor: pointer;
}

.nav-logo {
  max-width: 100%; 
  max-height: 100%; 
  display: block; 
  margin: auto;
  margin-top: 0; 
}

/*End Navbar*/

/*Background Start*/
.background {
  background-image: url("./assets/backgrounds/cloud.png");
  /*box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);*/
  margin: 0;

}
/*Background End*/


/* Pop Out Start */
.pop-out{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.pop-out .pop-out-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

.pop-out .pop-out-title {
  font-family: arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.pop-out .pop-out-text {
  font-family: arial, sans-serif;
  COLOR: HSL(0,0%,30%);
}
/*Pop Out End*/

/*QuizPopUp Start*/
/* .quiz-pop-up {
  
} */

.quiz-pop-up-button {
  background-color: rgb(165, 195,221);
  color: white;
  padding: 7px 14px;
  border-radius: 53px;
  border:none;
  cursor: pointer;
}
/*QuizPopUp End*/

/* Budget Circle Adjustments */
/* .recharts-responsive-container {
  margin: 0;
} */

/* Start Calendar Custom Styling (by section/part)*/ 
/*required instead of tailwind, bc react-big-calendar provides styling access by prebuilt class(for each section, not as a whole*/

.rbc-header {
  color: black;
  font-size: 20px !important;
  display: block;
  align-items: center;
  justify-content: center;
  height: 36px !important;
}
/*Hide bottom bar of header (month/dates) */
.rbc-allday-cell { 
  display: none;
}

/* Event Styles */

.rbc-event, .rbc-background-event {
  z-index: 2;
  padding: 0 !important;
  border: none !important;
  
}

.rbc-event-label {
  display: none;
}

.rbc-events-container {
  width:100%;
}
/* Way to set background of time column */
/* .rbc-background-event{
  background-image: url("./assets/backgrounds/clear-morning.png");
} */

.rbc-time-column {
  min-width: 100px;
}

.rbc-timeslot-group {
  min-height: 100px;
}

.rbc-time-slot {
  border-top: none;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #f0f0f0;
}

.rbc-time-view {
  border: none;
}

.rbc-time-content {
  border-top: 1px solid #f0f0f0;
}

.rbc-time-header-content {
  border-left: none;
}

.rbc-header {
  border-bottom: 1px solid #f0f0f0;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-view .rbc-header {
  border-left: none;
}


.rbc-event-content {
  color: black;
}

/* Customize current day header  */

/* .rbc-time-header-cell .rbc-today {
  
} */


/*Hour box slots on calendar*/
/* .rbc-timeslot-group {

} */

/*rbc-toolbar */


/* Way to set background of time column */
/* .rbc-day-slot{
  background-image: url("./assets/backgrounds/clear-morning.png");
} */

/*rbc-time-content is whole calendar itself */

/* rbc-time-gutter rbc-time-columnTime slots on left */

/* rbc-day-slot rbc-time-column day columns */

/*   border: 1px solid #f0f0f0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; */

  /* .rbc-events-container {
Whole row div for events, changes here effect whole row
} */

/*Start Calendar Custom Styling*/

/*Saved here for potential use later*/

/* body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  background: 202731;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
} */